# frontend/.eslintignore
src/pages/Blog.js
src/pages/Careers.js
src/pages/Cart.js
src/pages/Checkout.js
src/pages/Contact.js
src/pages/Dashboard.js
src/pages/Enterprise.js
src/pages/EnterpriseMembers.js
src/pages/EnterpriseOrders.js
src/pages/EnterpriseStores.js
src/pages/FAQ.js
src/pages/Help.js
src/pages/OrderDetail.js
src/pages/OrderTracking.js
src/pages/Orders.js
src/pages/Payment.js
src/pages/Press.js
src/pages/SellerOrders.js
src/pages/UMKMRegister.js
src/pages/VillageComplaints.js
src/pages/VillageCouriers.js
src/pages/VillageDocuments.js
src/pages/VillageEbooks.js
src/pages/VillageEgov.js
src/pages/VillageEvents.js
src/pages/VillageInfo.js
src/pages/VillageLive.js